
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body" style="color:black">TOPLAM ÇORBA SAYISI</div>
            <span class="card-body display-6"><strong>@ViewBag.soupCount</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body" style="color:black">EN PAHALI ÜRÜNLER</div>
            <span class="card-body display-6"><strong>@ViewBag.mostExpensive</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body" style="color:black">TOPLAM KATEGORİ SAYISI</div>
            <span class="card-body display-6"><strong>@ViewBag.categoryCount</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body" style="color:black">TOPLAM ÜRÜN SAYISI</div>
            <span class="card-body display-6"><strong>@ViewBag.productCount</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body" style="color:black">ORTALAMA ÜRÜN FİYATI</div>
            <span class="card-body display-6"><strong>@ViewBag.avgPrice.ToString("00.00")</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body" style="color:black">EN UCUZ ÜRÜN</div>
            <span class="card-body display-6"><strong>@ViewBag.cheapestPrice</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body" style="color:black">ÇORBA SAYISI</div>
            <span class="card-body display-6"><strong>@ViewBag.soupCount</strong></span>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body" style="color:black">50 TL ALTI ÜRÜN SAYISI</div>
            <span class="card-body display-6"><strong>@ViewBag.productsUnder50</strong></span>
        </div>
    </div>
</div>

@Html.Action("GetProductDetails")

