@model YummyProject.Models.Feature  
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2 class="text-success text-center pb-2 border-bottom border-success font-weight-bold display-9"
    style="font-family: 'Arial', sans-serif;">
    Öne Çıkan İçerik Ekle
</h2>
<br />
<form method="post" enctype="multipart/form-data">


    @Html.Label("Başlık", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })


    @Html.Label("Açıklama", new { @style = "color: green;" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })


    @Html.Label("Video Ekle", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.VideoFile, new { type = "file", @class = "form-control" })

    @Html.Label("Resim Ekle", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.ImageFile, new { type = "file", @class = "form-control" })


    <br />
    <button type="submit" class="btn btn-primary" style="background-color: #28a745; border-color: #28a745; padding: 10px 20px; border-radius: 5px; color: white; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">
        Kaydet
    </button>
</form>
