@model YummyProject.Models.Booking
@{
    ViewBag.Title = "DetayBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2 class="text-success text-center pb-2 border-bottom border-success font-weight-bold display-9"
    style="font-family: 'Arial', sans-serif;">
    --Rezervasyon Detaları--
</h2>
<br />
<form method="post">


    @Html.HiddenFor(x => x.BookingId)

    @Html.Label("Ad-Soyad", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("E-mail", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon Numarası", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj", new { @style = "color: green;" })
    @Html.TextAreaFor(x => x.MessageContent, new { @class = "form-control" })
    <br />
    @Html.Label("Kişi Sayısı", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.PersonCount, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih", new { @style = "color: green;" })
    @Html.TextBoxFor(x => x.BookingDate, new { @class = "form-control" })
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-success" style="width: 100%;">Onayla</button>
    </div>
</form>



